{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% block title %}{{ 'Dashboard'|trans }}{% endblock %}

{% trans_default_domain "sitebuilder" %}

{% block header_title %}
    <h1 class="edgarezsb-dashboard-title">{{ 'Dashboard'|trans }}</h1>
{% endblock %}

{% block content %}
    <section class="ez-tabs ez-edgarezsbdashboard-content">

        <ul class="ez-tabs-list">
            {% for tab_item in tab_items %}
                {% if sb_can(tab_item) %}
                    <li class="ez-tabs-label{% if tab_item == tab_item_selected %} is-tab-selected{% endif %}"><a href="#ez-tabs-{{ tab_item }}">{{ tab_item|trans }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="ez-tabs-panels">
            {% for tab_item in tab_items %}
                {% if sb_can(tab_item) %}
                    <div class="ez-tabs-panel{% if tab_item == tab_item_selected %} is-tab-selected{% endif %}" id="ez-tabs-{{ tab_item }}">
                        <div class="ez-view-container pure-u yui3-app-views">
                            <div class="ez-view-serversideview">
                                <section class="ez-serverside-content">
                                    {{ render( controller(
                                    'edgar_ez_site_builder.controller.sb:tabAction', {
                                        'tabItem': tab_item,
                                        'paramsTwig': params,
                                        'hasErrors': hasErrors
                                    } ) ) }}
                                </section>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </section>
{% endblock %}

{% block notification %}
    {% if hasErrors|length %}
        <li data-state="error">{{ "form.validation_error"|trans(domain="general") }}</li>
    {% endif %}
    {{ parent() }}
{% endblock %}
