{% trans_default_domain "sitebuilder_install" %}

{{ form_start(params.installForm, {"action": path("edgarezsb_install_post", {}), "attr": {"class": "pure-form pure-form-aligned ez-confirm-action"}}) }}

<fieldset>
    <div class="pure-control-group">
        <label for="{{ params.installForm.vendorName.vars.id }}">{{ form_label(params.installForm.vendorName) }}</label>
        {{ form_widget(params.installForm.vendorName) }}
        {{ form_errors(params.installForm.vendorName) }}
    </div>
    <div class="pure-control-group">
        <label for="{{ params.installForm.languageCode.vars.id }}">{{ form_label(params.installForm.languageCode) }}</label>
        {{ form_widget(params.installForm.languageCode) }}
        {{ form_errors(params.installForm.languageCode) }}
    </div>
    <div class="pure-control-group">
        <label for="{{ params.installForm.contentLocationID.vars.id }}">{{ form_label(params.installForm.contentLocationID) }}</label>
        {{ form_widget(params.installForm.contentLocationID) }}
        <button type="button" data-universaldiscovery-title="{{ "install.content.location.udw_title"|trans({}, "sitebuilder_install") }}"
                class="ez-button-tree pure-button ez-font-icon ez-button edgarezsb-install-pick-location-content-button"
                data-location-input-selector="#{{params.installForm.contentLocationID.vars.id}}"
                data-selected-location-list-selector="#{{params.installForm.contentLocationID.vars.id}}-selected-location"
        >{{ "install.content.location.udw_button"|trans({}, "sitebuilder_install") }}</button>
        <div>
            <ul id="{{params.installForm.contentLocationID.vars.id}}-selected-location">
                {% for limitationValue in params.installForm.contentLocationID.vars.value %}
                    <li>
                        {{ render( controller( "ez_content:view", {'contentId': limitationValue, 'viewType': '_platformui_content_name'} ) ) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ form_errors(params.installForm.contentLocationID) }}
    </div>
    <div class="pure-control-group">
        <label for="{{ params.installForm.mediaLocationID.vars.id }}">{{ form_label(params.installForm.mediaLocationID) }}</label>
        {{ form_widget(params.installForm.mediaLocationID) }}
        <button type="button" data-universaldiscovery-title="{{ "install.media.location.udw_title"|trans({}, "sitebuilder_install") }}"
                class="ez-button-tree pure-button ez-font-icon ez-button edgarezsb-install-pick-location-media-button"
                data-location-input-selector="#{{params.installForm.mediaLocationID.vars.id}}"
                data-selected-location-list-selector="#{{params.installForm.mediaLocationID.vars.id}}-selected-location"
        >{{ "install.media.location.udw_button"|trans({}, "sitebuilder_install") }}</button>
        <div>
            <ul id="{{params.installForm.mediaLocationID.vars.id}}-selected-location">
                {% for limitationValue in params.installForm.mediaLocationID.vars.value %}
                    <li>
                        {{ render( controller( "ez_content:view", {'contentId': limitationValue, 'viewType': '_platformui_content_name'} ) ) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ form_errors(params.installForm.mediaLocationID) }}
    </div>
    <div class="pure-control-group">
        <label for="{{ params.installForm.userLocationID.vars.id }}">{{ form_label(params.installForm.userLocationID) }}</label>
        {{ form_widget(params.installForm.userLocationID) }}
        <button type="button" data-universaldiscovery-title="{{ "install.user.location.udw_title"|trans({}, "sitebuilder_install") }}"
                class="ez-button-tree pure-button ez-font-icon ez-button edgarezsb-install-pick-location-user-button"
                data-location-input-selector="#{{params.installForm.userLocationID.vars.id}}"
                data-selected-location-list-selector="#{{params.installForm.userLocationID.vars.id}}-selected-location"
        >{{ "install.user.location.udw_button"|trans({}, "sitebuilder_install") }}</button>
        <div>
            <ul id="{{params.installForm.userLocationID.vars.id}}-selected-location">
                {% for limitationValue in params.installForm.userLocationID.vars.value %}
                    <li>
                        {{ render( controller( "ez_content:view", {'contentId': limitationValue, 'viewType': '_platformui_content_name'} ) ) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ form_errors(params.installForm.userLocationID) }}
    </div>
</fieldset>

<div class="pure-controls">
    {{ form_widget(
    params.installForm.install,
    {
        "disabled": false,
        "attr": {"class": "pure-button ez-button ez-install-button ez-font-icon ez-button-install"}
    }
    ) }}
</div>

{{ form_end(params.installForm) }}

