{% trans_default_domain "sitebuilder_install" %}

{{ form_start(params.installForm, {"action": path("edgarezsb_install_post", {}), "attr": {"class": "pure-form pure-form-aligned"}}) }}
<fieldset>
    <div class=pure-control-groupe">
        {{ form_label(params.installForm.vendorName) }}
        {{ form_errors(params.installForm.vendorName) }}
        {{ form_widget(params.installForm.vendorName) }}
    </div>
</fieldset>
<div class=pure-controls">
    {{ form_widget(
    params.installForm.install,
    {
        "disabled": false,
        "attr": {"class": "pure-button ez-button ez-install-button ez-font-icon ez-button-install"}
    }
    ) }}
</div>
{{ form_end(params.installForm) }}

