{% trans_default_domain "sitebuilder_sitel" %}

{{ form_start(params.siteForm, {"action": path("edgarezsb_site_post", {}), "attr": {"class": "pure-form pure-form-aligned ez-confirm-action"}}) }}

<fieldset>
    <div class="pure-control-group">
        <label for="{{ params.siteForm.siteName.vars.id }}">{{ form_label(params.siteForm.siteName) }}</label>
        {{ form_widget(params.siteForm.siteName) }}
        {{ form_errors(params.siteForm.siteName) }}
    </div>
    <div class="pure-control-group">
        <label for="{{ params.siteForm.model.vars.id }}">{{ form_label(params.siteForm.model) }}</label>
        {{ form_widget(params.siteForm.model) }}
        {{ form_errors(params.siteForm.model) }}
    </div>
    <div class="pure-control-group">
        <label for="{{ params.siteForm.host.vars.id }}">{{ form_label(params.siteForm.host) }}</label>
        {{ form_widget(params.siteForm.host) }}
        {{ form_errors(params.siteForm.host) }}
    </div>
    <div class="pure-control-group">
        <label for="{{ params.siteForm.mapuri.vars.id }}">{{ form_label(params.siteForm.mapuri) }}</label>
        {{ form_widget(params.siteForm.mapuri) }}
        {{ form_errors(params.siteForm.mapuri) }}
    </div>
    <div class="pure-control-group">
        <label for="{{ params.siteForm.suffix.vars.id }}">{{ form_label(params.siteForm.suffix) }}</label>
        {{ form_widget(params.siteForm.suffix) }}
        {{ form_errors(params.siteForm.suffix) }}
    </div>
</fieldset>

<div class="pure-controls">
    {{ form_widget(
    params.siteForm.site,
    {
        "disabled": false,
        "attr": {"class": "pure-button ez-button ez-site-button ez-font-icon ez-button-site"}
    }
    ) }}
</div>

{{ form_end(params.siteForm) }}
