{% trans_default_domain "sitebuilder_sitel" %}

{{ form_start(params.sites, {"action": path("smileezsb_site_post", {}), "attr": {"class": "pure-form pure-form-aligned ez-confirm-action"}}) }}

<fieldset>
    <div class="pure-control-group">
        <label for="{{ params.sites.model.vars.id }}">{{ form_label(params.sites.model) }}</label>
        {{ form_widget(params.sites.model) }}
        {{ form_errors(params.sites.model) }}
    </div>
    <div class="pure-control-group">
        <label for="{{ params.sites.siteName.vars.id }}">{{ form_label(params.sites.siteName) }}</label>
        {{ form_widget(params.sites.siteName) }}
        {{ form_errors(params.sites.siteName) }}
    </div>

    <div class="ez-view-smileezsb-table">
        <div class="ez-block-wrapper ez-font-icon">
            <table class="ez-block-items-table">
                <thead class="ez-block-header">
                <tr>
                    <th class="ez-block-head-service">{{ 'sb.sites.th.language'|trans }}</th>
                    <th class="ez-block-head-service">{{ 'sb.sites.th.host'|trans }}</th>
                    <th class="ez-block-head-service">{{ 'sb.sites.th.suffix'|trans }}</th>
                </tr>
                </thead>
                <tbody class="ez-block-content">

                {% for language, site in params.sites.vars.value.sites.listeSites %}
                    {% set id = site.vars.id ~ '[' ~ site.languageCode.vars.value~ ']' %}
                    <tr class="ez-block-row">

                        <td class="ez-block-cell">
                            {{ language }}
                            {% set name = id ~ '[languageCode]' %}
                            <input type="hidden" name="{{ name }}" value="{{ site.languageCode.vars.value }}"
                        </td>
                        <td class="ez-block-cell">
                            {% set name = id ~ '[host]' %}
                            <input type="text" name="{{ name }}" />
                        </td>
                        <td class="ez-block-cell">
                            {% set name = id ~ '[suffix]' %}
                            <input type="text" name="{{ name }}" />
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    {{ form_widget(params.sites.listSites) }}
</fieldset>

<div class="pure-controls">
    {{ form_widget(
    params.sites.submit,
    {
        "disabled": false,
        "attr": {"class": "pure-button ez-button ez-model-button ez-font-icon ez-button-model"}
    }
    ) }}
</div>

{{ form_end(params.sites) }}
