
{% if not datas %}
    <tr class="ez-block-row">
        <td class="ez-block-cell ez-block-cell-no-result" colspan="6">
            {{ 'sb.dashboard.nodata'|trans }}
        </td>
    </tr>
{% else %}
    {% for data in datas %}
        <tr class="ez-block-row">
            <td class="ez-block-cell">{{ data.action.service }}</td>
            <td class="ez-block-cell">{{ data.action.command }}</td>
            <td class="ez-block-cell">
                <ul>
                    {% for key, parameter in data.action.parameters %}
                        <li>
                            {{ key }} :
                            {% if parameter is iterable %}
                                <ul>
                                    {% for key2, parameter2 in parameter %}
                                        {% if parameter2 is iterable %}
                                            <li>{{ key2 }} :
                                                <ul>
                                                    {% for key3, parameter3 in parameter2 %}
                                                        <li>{{ key3 }} : {{ parameter3 }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li>{{ key2 }} : {{ parameter2 }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ parameter }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td class="ez-block-cell">{{ data.postedAt.date|date("m/d/Y H:i") }}</td>
            <td class="ez-block-cell">{% if data.executedAt %}{{ data.executedAt.date|date("m/d/Y H:i") }}{% endif %}</td>
            <td class="ez-block-cell">{{ data.logs }}</td>
            <td class="ez-block-cell">
                {% transchoice data.status %}
                    {0} Pending|{1} OK|{2} Error
                {% endtranschoice %}
            </td>
        </tr>
    {% endfor %}
{% endif %}
